[slidedown-details].default-theme summary {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 1px solid;
  border-color: transparent;
}
[slidedown-details].default-theme summary:focus {
  border-color: black;
}
[slidedown-details].default-theme .content {
  padding: 10px;
  border: 1px solid;
  border-color: #000;
}
details[open] {
  opacity: 1;
}
details summary {
  display: block;
  position: relative;
  cursor: pointer;
}
details summary::-webkit-details-marker {
  display: none;
}
